.git
.gitignore
.dockerignore
__pycache__/
*.pyc
*.pyo
parser/__pycache__/
parser/*.pyc
parser/*.pyo
parser/*.jar
parser/*.class
parser/__class__/
parser/vba.tokens
parser/vbaLexer.java
parser/vbaLexer.tokens
parser/vbaParser.java
*/*.doc
*/*.docm
*/*.vba
